.related_article_main {
  background-color: #f5f5f6;
  padding-bottom: 64px;
  /* margin-top: 30px; */
}

.article_container {
  max-width: 984px;
  margin: 0 auto;
  width: 95%;
}
.article_title {
  padding-top: 62px;
  padding-bottom: 62px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 1px;
  color: #262d4d;
}
@media screen and (max-width:668px) {
  .article_title{
    font-size: 28px;
  }
}
@media screen and (min-width: 769px) {
  .article_title {
    font-size: 48px;
  }
}
