.comment__main {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #000000;
}

.comment_main {
  margin-top: 68px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.comment_main span {
  width: 4px;
  height: 10px;
  border-radius: 5px;
  background-color: #000000;
}
.comments img {
  border-radius: 50%;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.comments {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dedede;
  margin-top: 30px;
}
.rating {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}
.rating img {
  width: 15px;
  height: 15px;
}
.comments_name {
  display: flex;
  gap: 18px;
  margin-bottom: 4px;
}

.rating span {
  margin-top: -5px;
}
.comments_name_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
@media screen and (max-width: 668px) {
  .comments {
    align-items: center;
  }
}
