.comment__main {
  margin-top: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #000000;
}
.comments img {
  border-radius: 50%;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.comments {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DEDEDE;

  margin-top: 30px;
}
.rating {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.rating img {
  width: 15px;
  height: 15px;
}
.comments_name {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
}

.rating span{
    margin-top: -5px;
}
.comments_name_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}