@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.workouts-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}
.rounded-img {
  border-radius: 50% !important;
}
.comment_form {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #000000;
}
label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #3e3232;
  margin-bottom: 15px;
}
input {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 12px;
  margin-top: 15px;
  width: 100%;
}
input:focus {
  outline: none;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 20px; /* space between columns */
  padding-top: 20px;
  padding-bottom: 20px;
}
.email__lable {
  margin-top: 20px;
}
textarea {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 12px;
  margin-top: 15px;
  width: 100%;
}
.rate_artical {
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 15px;
  width: 100%;
}
.rate_emoji {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.rate_emoji span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #000000;
}
.emoji_list {
  display: flex;
  gap: 7px;
  align-items: center;
}
.form_submit__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px 10px 16px;
  gap: 8px;
  background: #00ba5c;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
.header_title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #10152e;
}
.main__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
.form_submit__btn_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px 10px 16px;
  gap: 8px;
  background: #000;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.form_submit__btn_1:hover {
  opacity: 0.8;
}
textarea:focus {
  outline: none;
}
.form_submit__btn_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px 10px 16px;
  gap: 8px;
  background: #000;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: none;
}
.form_submit__btn_2:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .header_title {
    font-size: 28px;
    line-height: 40px;
  }
  form {
    grid-template-columns: 1fr;
  }
  .main__rate {
    flex-direction: column;
  }
  .rate_emoji {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .form_submit__btn_1 {
    display: none;
  }
  .form_submit__btn_2{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
