.workout__banner img {
  height: 480px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .workout__banner img {
    height: 232px;
    width: 95%;
    margin: 0 auto;
    object-fit: cover;
  }
}
